.all-lib {
  color: red;
  display: block; /* Default visible */
  padding-bottom: 2000px;
}

.error {
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .all-lib {
    display: none;
  }
}

/* Media query to hide mainhome and show error */
@media (max-width: 1000px) {
  .error {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    padding: 10px;
  }

  .end-margin {
    display: none;
  }
}
